// fonts

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

//main-text
$Montserrat: 'Montserrat', sans-serif;
$Galada: 'Galada', cursive;
$Shadows: 'Shadows Into Light', cursive;
$Indie-flower: "Indie Flower", cursive;

// page headings
$page-title-xl: 5rem;
$page-title-lg: 3rem;
$page-title-md: 2.2rem;
$page-title-sm: 2rem;
$page-title-xs: 1.5rem;

// titles
$title-xl: 1.4rem;
$title-lg: 1.2rem;
$title-md: 1.1rem;
$title-reg: 1rem;
$title-sm: 0.8rem;
$title-xs: 0.6rem;

// text
$text-xl: 1rem;
$text-lg: 0.9rem;
$text-md: 0.8rem;
$text-xreg: 0.7rem;
$text-reg: 0.6rem;
$text-sm: 0.5rem;
$text-xs: 0.4rem;

// buttons
$button-sm: 0.8rem;
$button-lg: 1.2rem;

// menus
$menu-xs: 0.5rem;
$menu-sm: 0.7rem;
$menu-md: 0.9rem;
$menu-lg: 1rem;
$menu-xl: 1.2rem;

//font-weight
$bold: 700;
$semi-bold:600;
$medium:500;
$light: 400;